<nz-breadcrumb>
  <div class="flex flex-col flex-wrap gap-1">
    <h1 class="font-medium text-lg text-mono"></h1>
    <div class="flex items-center gap-1 text-sm font-normal">
      @for (breadcrumb of breadcrumbs; track breadcrumb) {
      <nz-breadcrumb-item>
        @if (breadcrumb.url) {
        <a
          class="text-secondary-foreground hover:text-primary"
          [routerLink]="breadcrumb.url"
        >
          {{ breadcrumb.label }}
        </a>
        } @else {
        <span>{{ breadcrumb.label }}</span>
        }
      </nz-breadcrumb-item>
      }
    </div>
  </div>
</nz-breadcrumb>
