<div class="clearfix">
  <nz-upload
    [class.upload-error]="isError"
    [nzListType]="nzListType"
    [nzAccept]="accept"
    [nzFileType]="type"
    [nzSize]="maxSize"
    [(nzFileList)]="fileList"
    [nzShowButton]="fileList.length !== 1"
    [nzCustomRequest]="dummyRequest"
    [nzPreview]="handlePreview"
    [class.small]="isSmall"
    [nzDisabled]="disabled"
    [nzShowUploadList]="showUploadList"
  >
    <ng-container>
      <button nz-button>
        <nz-icon nzType="upload" />
        Click to Upload
      </button>
    </ng-container>
  </nz-upload>

  <nz-modal
    [nzVisible]="previewVisible"
    [nzContent]="modalContent"
    [nzFooter]="null"
    (nzOnCancel)="previewVisible = false"
  >
    <ng-template #modalContent>
      <img [src]="previewImage" [ngStyle]="{ width: '100%' }" alt="" />
    </ng-template>
  </nz-modal>
</div>
