/* Custom Menu Active State Override */
.kt-menu-item.active {
    .kt-menu-link {
        background-color: oklch(27.4% .006 286.033) !important;

        /* Primary color with opacity */
        border-radius: 0.375rem !important;
    }

    .kt-menu-title {
        color: white !important;
        /* Primary color */
        font-weight: 600 !important;
    }

    .kt-menu-icon {
        color: white !important;
        /* Primary color */
    }
}