<div class="flex items-center gap-3 w-full lg:w-auto">
  <div class="kt-input flex-1 lg:flex-none lg:w-[250px] relative">
    <nz-input-group [nzSuffix]="inputClearTpl">
      <input
        type="text"
        nz-input
        placeholder="input search text"
        [ngModel]="searchText"
        (ngModelChange)="onInputChange($event)"
      />
    </nz-input-group>
    <ng-template #inputClearTpl>
      @if (searchText && searchText.trim()) {
      <nz-icon
        class="ant-input-clear-icon"
        nzTheme="fill"
        nzType="close-circle"
        (click)="onClear()"
      />
      }
    </ng-template>
  </div>

  <!--Filter Drawer Toggle Button Icon-->

  <nz-badge [nzCount]="activeFiltersCount">
    <button
      nz-button
      nzType="primary"
      [nzSize]="'default'"
      (click)="onToggleDrawer()"
    >
      <svg
        width="20"
        height="22"
        viewBox="0 0 20 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.8188 1H3.18117C1.442 1 0.404657 2.91555 1.36937 4.34564L7.09107 11.8274C7.56799 12.5344 7.82249 13.3651 7.82249 14.2148V19.9219C7.82249 20.8805 8.99523 21.3605 9.68111 20.6827L11.8586 18.5307C12.0628 18.329 12.1775 18.0553 12.1775 17.7699V14.2148C12.1775 13.3651 12.432 12.5344 12.9089 11.8274L18.6306 4.34564C19.5953 2.91555 18.558 1 16.8188 1Z"
          stroke="#FFFFFF"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </nz-badge>
</div>
